<html>
  <head>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/main.css">
    <title>To Do List</title>
  </head>
  <body>
      <div class="container">
          <div id="hello">
          <h1>{{ category.getName }}</h1>
      </div>
          {% if tasks is not empty %}
          <p>Here are the tasks:</p>
          <ul>
              {% for task in tasks %}
                <li class="category"><b>{{ task.getDescription }}</b></li>
                <li class="category"><h4>{{ task.getDate }}</h4></li>
              {% endfor %}
          </ul>
          {% endif %}

          <h4>Add a task</h4>

          <form action="/tasks" method="post">
              <input id="category_id" type="hidden" name="category_id" value="{{ category.getId() }}">

              <label for="description">Task Description</label>
              <input type="text" name="description" id="description"> </br>

              <label for="date">Date</label>
              <input type="date" name="date" id="date">

              <button type="submit">Add task</button>
          </form>
          <form action='/delete_tasks' method='post'>
             <button type='submit' class="btn-info">Clear</button>
          </form>

       <p><a href='/'>Home</a></p>
      </div>
  </body>
</html>
